header {
  width: 100vw;
}

.header-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 360px;
  width: 100%;
}

.profile-name {
  font-family: helvetica, arial, sans-serif;
  fontweight: 300;
  padding: 1em;
}
