nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background: #018ec0;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  position: fixed;
  top: 0;
}

.navtitle {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  font-size: 1.5em;
}

.new-tweet {
  display: flex;
  text-align: center;
  margin-right: 0.5rem;
}

.menu-down {
  display: flex;
  flex-direction: column;
}

.drop-down {
  background: transparent;
  border: none;
  color: antiquewhite;
  cursor: pointer;
}

.drop-down:hover {
  color: #fdc201;
}

/* Smartphones: minimum width of 320px to maximum width of around 420px */
@media only screen and (min-width: 320) {
}

@media only screen and (min-width: 768px) {
  .new-tweet {
    display: flex;
    text-align: center;
    margin-right: 1.5rem;
  }
}
